.aside {
 
	width: 6rem;
	border-right: 2px solid white;
	margin-right: 2rem;
}

.paragraph {
	text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
