.round {
	display: grid;
	grid-template-columns: 6fr 2fr 2fr;
	gap: 1rem;
	/* border: 2px solid blue; */
	justify-items: center;
	align-items: center;
	width: 100%;
	margin: 2rem 4rem;
	padding: 1rem;
	border-bottom: 1px dashed white;
}

.btnTry {
	background-color: #8b939c;
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	width: 100%;
}

.btnTry:hover {
	background-color: #e63946;
}
